Source: samsung-tools
Section: misc
Priority: extra
Maintainer: Fortunato Ventre <vorione@gmail.com>
Build-Depends: debhelper (>= 9), gettext
Standards-Version: 3.8.0
Homepage: http://loms.voria.org

Package: samsung-tools
Architecture: all
Suggests: phc-intel
Depends: pm-utils, python-gtk2, xbindkeys, rfkill, vbetool
Description: Tools for Samsung laptops.
 'Samsung Tools' is the successor of 'Samsung Scripts' provided by the
 'Linux On My Samsung' project.
 .
 It enables control in a friendly way of the devices found on Samsung laptops
 (bluetooth, wireless, webcam, backlight, CPU fan, special keys) and the control
 of various aspects related to power management, like the CPU undervolting (when a
 PHC-enabled kernel is available).
